*.DS_Store
*.zip
*.tif
*.tiff
*.aux.xml
*.geojson
*.pyc
*.pdf
*.log
/data/*
/config/auth
src/geoworkflow.egg-info/PKG-INFO
notebooks/accra_extraction_summary.json

# Documentation builds
site/
docs/api/build/

# MkDocs
.cache/

# Sphinx
docs/api/build/
docs/api/source/_build/